@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Doto';
  src: url('/fonts/doto-variable.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/spacegrotesk-variable.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-display: swap;
}

body {
  font-family: var(--font-space-grotesk),Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 217 52% 18%;    /* hsl(211, 72%, 43%) */
    --foreground: 0 0% 100%;
    --card: 213 74% 44%;
    --card-foreground: 0 0% 100%;
    --popover: 213 74% 44%;
    --popover-foreground: 0 0% 100%;
    --primary: 211 50.3% 37.8%;       /* hsl(211, 50%, 38%) */
    --primary-foreground: 0 0% 100%;
    --secondary: 211 100% 45.1%;    /* hsl(213, 100%, 48%) */
    --secondary-foreground: 0 0% 100%;
    --muted: 207 42% 39%;
    --muted-foreground: 204 29% 78%; /* hsl(210, 9%, 18%) */
    --accent: 211 100% 45.1%;        /* hsl(211, 33%, 30%) */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 207 42% 39%;
    --input: 207 42% 39%;
    --ring: 217 100% 45%;
    --chart-1: 213 74% 44%;       /* hsl(211, 72%, 43%) */
    --chart-2: 207 42% 39%;       /* hsl(211, 50%, 38%) */
    --chart-3: 217 100% 45%;      /* hsl(213, 100%, 48%) */
    --chart-4: 210 34% 30%;       /* hsl(211, 33%, 30%) */
    --chart-5: 217 52% 18%;       /* hsl(213, 20%, 20%) */
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 217 52% 18%;    /* hsl(213, 20%, 20%) */
    --foreground: 217 100% 45%;   /* hsl(213, 100%, 48%) */
    --card: 217 52% 18%;
    --card-foreground: 217 100% 45%;
    --popover: 217 52% 18%;
    --popover-foreground: 217 100% 45%;
    --primary: 210 34% 30%;       /* hsl(211, 33%, 30%) */
    --primary-foreground: 0 0% 100%;
    --secondary: 207 42% 39%;     /* hsl(211, 50%, 38%) */
    --secondary-foreground: 0 0% 100%;
    --muted: 207 42% 39%;
    --muted-foreground: 210 34% 30%;
    --accent: 213 74% 44%;        /* hsl(211, 72%, 43%) */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 100%;
    --border: 207 42% 39%;
    --input: 207 42% 39%;
    --ring: 210 34% 30%;
    --chart-1: 213 74% 44%;       /* hsl(211, 72%, 43%) */
    --chart-2: 207 42% 39%;       /* hsl(211, 50%, 38%) */
    --chart-3: 217 100% 45%;      /* hsl(213, 100%, 48%) */
    --chart-4: 210 34% 30%;       /* hsl(211, 33%, 30%) */
    --chart-5: 217 52% 18%;       /* hsl(213, 20%, 20%) */
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
